{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"printWidth": 100,
	"proseWrap": "always",
	"bracketSpacing": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
